:root {
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
  --primary: #ffce00;
  --secondary: #fe4880;
  --dark: #212121;
  --light: #f3f3f3;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.bodyWrap {
  background: whitesmoke;
  height: 100%;
  overflow: hidden;
}
.accomplishments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  color: darkslategrey;
  height: 300px;
  font-size: 2rem;
}
.paragraph {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 2.5rem;
}

.heroImage {
  display: none;
}
.spacerDiv {
  background-color: transparent;
  max-width: 100%;
  height: 400px;
}

.bg-image {
  width: 100%;
  padding-top: 27%;
  background-repeat: no-repeat;
  background-position: center;
  background: url(https://res.cloudinary.com/dmglopmul/image/upload/v1609382552/projectPhotos/mariposaweb/projects.jpg);
  background-size: cover;
}
.display-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-row-gap: 40px;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 1rem;
  position: relative;
  margin: 2rem 0rem 0rem 0rem;
  padding: 0.5rem;
}

.display-content {
  padding: 1rem;
  line-height: 1.4;
}

.display-content p {
  color: var(--dark);
  font-size: 18px;
  text-align: center;
}
.display-content h3 {
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}
.display-card {
  cursor: pointer;
  margin: 9rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  overflow: hidden;
  border-radius: 50%;
  background: linear-gradient(45deg, #f7b42c 0%, #fecd45 74%);
  border: 1px solid #f5d020;
  background-size: 400% 400%;
  position: relative;
  animation: change 1s ease-in-out infinite;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.display-image {
  margin: 1rem 1rem 0 1rem;
  font-size: 0.9rem;
}
/** new flip card **/
.card-grid {
  margin: 40px auto 40px auto;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  border: 5px solid black;
}

/*Carousel section */

.carouselSection {
  //outer border for carousel
  //border: 5px solid blue;
}

@keyframes backgroundtransform {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.transitionToCarousel {
  background-color: #2568fb;
  height: 200px;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0;
}
.gridloading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  width: 98vw;
  margin: 0 auto;
}

/* end carousel section */

/** media queries **/
/** everything over **/

@medai only screen and (min-width: 1300px) {
}
@media only screen and (min-width: 1024px) {
  .display-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .card__body {
    padding: 130px 70px 20px 70px;
    height: 450px;
    width: 400px;
  }
  .card__body h3 {
    font-size: 32px;
  }
  .card__body p {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1400px) {
  .display-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
