/** flip card css **/

.card__body {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  border: 1px solid #f5d020;
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 600px;
  height: 600px;
  perspective: 1000px;
  border-radius: 50%;
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  cursor: pointer;
}
.centerMe {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/** end flip card **/
