/** flip card css **/

.card__body {
  background: linear-gradient(45deg, #f7b42c 0%, #fecd45 74%);
  border: 1px solid #f5d020;
  width: 700px;
  height: 650px;
  perspective: 1000px;
  border-radius: 50%;
  cursor: pointer;
  padding: 70px 60px 50px 60px;
  text-align: center;
  font-size: 30px;
}
.card__body h3 {
  color: slategrey;
}
.card__body p {
  color: slategrey;
}

.centerMe {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.hideMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 7rem;
}
@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/** end flip card **/

/** media queries **/
/** everything under **/
@media (max-width: 725px) {
  /* … */
  // .hideMe {
  //   display: none;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   width: 700px;
  //   height: 650px;
  //   height: 300px;
  //   width: 400px;
  // }

  .card__body {
    padding: 120px 60px 40px 60px;
    height: 550px;
    width: 550px;
  }
  .card__body h3 {
    font-size: 26px;
  }
  .card__body p {
    font-size: 24px;
  }
}
