.extraClass {
  font-size: 200px;
}
.fa-ICON_NAME {
  font-size: 50px;
}
.fa-twitter {
  font-size: 100px;
}
.bounceMe:hover {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.bounceMeOne:hover {
  animation: rubberBand;
  animation-duration: 2s;
}
.bounceMeTwo:hover {
  animation: wobble;
  animation-duration: 2s;
}
.bounceMeThree:hover {
  animation: bounce;
  animation-duration: 2s;
}
.bounceMeFour:hover {
  animation: jello;
  animation-duration: 2s;
}
.boxes {
  margin-top: 2rem;
}
.boxes:hover {
  cursor: grabbing;
}

.filler {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
}
.filler:hover {
  animation: tada;
  animation-duration: 2s;
}
.fillerSpan:hover {
  animation: jello;
  animation-duration: 2s;
}
.fillerMain:hover {
  animation: tada;
  animation-duration: 2s;
}
.transition {
  background-color: #e8f5e9;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.centerMe {
  align-items: center;
  font-size: 2rem;
  color: red;
}
