.resumeContainer {
  height: 100vh;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10%;
}
.resumeWrapper {
  color: #222;
  width: 60%;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.8);
}

.resumeTitle {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  border-bottom: double;
  border-top: 2px solid #222;
  padding: 2rem 0 2rem 0;
}
.spacer {
  height: 100px;
}
.subTitle {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  padding: 2rem 0 2rem 0;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 0 1rem;
}
li {
  font-size: 20px;
  margin-top: 1rem;
}
li p {
  list-style-type: none;
  text-align: justify;
  padding: 0.8rem;
  line-height: 1.5;
}

li p:before {
  content: "·";
  font-size: 120px;
  vertical-align: middle;
  line-height: 20px;
}
.subTitleSkills {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}
.subTitleSkills p {
  font-size: 4rem;
}
.subTitleWork {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}
.subTitleWork p {
  font-size: 4rem;
}
.work-title {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.education-title {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.bottom-spacer {
  margin-bottom: 100px;
}
@media (max-width: 650px) {
  p.display-footer-company-motto {
    display: none;
  }
}
